@import "global.css";

.sucesso_mensagem {
  /* Display */
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  /* Colors */
  background-color: var(--dark-slate-grey);
}

.sucesso_container {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Tipografia */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* Colors */
  color: var(--white);
}

.sucesso_container_fluid {
  /* Display */
  width: 25vw;
  border-radius: 20px;
  padding: 30px;
  /* Colors */
  background-color: var(--white);
  color: var(--dark-slate-grey);
}

.icon_sucesso {
  width: 20%;
  margin-bottom: 20px;
}

.title_sucesso {
  margin-bottom: 10px;
}

#form_btn_sucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
